.gallery {
  user-select: none;
  position: relative;
  overflow: hidden;
}
.gallery-line-container {
  overflow: hidden;
}

.gallery-draggable {
  cursor: grabbing;
}
.gallery-line {
  overflow: hidden;
}
.gallery-slide {
  float: left;
  transform: translateZ(0);
  overflow: hidden;
}

.gallery-dots {
  display: flex;
  justify-content: center;
}
.gallery-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  outline: none;
  padding: 0;
}

.gallery-dot:hover,
.gallery-dot-active {
  background: #888;
}

.gallery-nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0;
}

.gallery-nav-left,
.gallery-nav-right {
  text-indent: -1234rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  top: 50%;
  margin-top: -4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.gallery-nav-left {
  background: url("../icons/ic-left-arrow.png") no-repeat center;
  background-size: contain;
  left: 0;
  margin-left: 200px;
}
.gallery-nav-right {
  background: url("../icons/ic-right-arrow.png") no-repeat center;
  background-size: contain;
  right: 0;
  margin-right: 200px;
}

.slide img {
  pointer-events: none;
  display: flex;
  margin-left: 470px;
  height: 500px;
  width: 600px;
}

.gallery-nav-disable {
  opacity: 0.2;
  pointer-events: none;
}
