.body {
  font-family: "Montserrat Alternates", sans-serif;
}
.header {
  background-color: #f7ede8;
  height: 800px;
}
.topics {
  height: 1456px;
  padding: 0px 140px 0px 140px;
}
.topics-list {
  height: 1019px;
  padding: 100px 140px 0px 140px;
  display: flex;
  justify-content: center;
}
.grammar {
  height: 239px;
  padding: 140px 140px 0px 140px;
  display: flex;
  justify-content: center;
}

.links {
  height: 1153px;
  background-color: #f7ede8;
  padding: 20px 140px 0px 140px;
}

.footer {
  height: 618px;
  padding: 140px 140px 80px 140px;
}

.history {
  height: 1414px;
}
.info {
  padding: 80px 140px 80px 140px;
}

.container {
  background-color: #f7ede8;
  margin-top: 40px;
  margin: 0px 140px;
}

.nav-link {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  margin-right: 60px;
  font-size: 16;
}
.dev {
  padding: 0px 140px 0px 140px;
}

.dropdown-item {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.logo {
  margin-right: 116px;
}
.btn {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14;
}

.sign-in-btn {
  margin-left: 20px;
}

.btn-outline-dark {
  border: 2px solid black;
}

.slogan {
  margin-top: 150px;
}
.stars {
  margin-top: 170px;
  margin-left: 200px;
}

.scribble {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.sparkle {
  position: absolute;
  right: 0;
  margin-top: -70px;
  margin-right: 20px;
}

.sparkle-left {
  position: absolute;
  margin-top: -115px;
  margin-left: 440px;
}

.scribble-blue {
  position: absolute;
  right: 0;
  margin-right: 460px;
  margin-top: -150px;
}
.title-topics {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 59px;
  color: black;
  text-align: center;
  margin-top: 140px;
}

.title-history {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 59px;
  color: black;
  text-align: center;
  margin-top: 70px;
}
.title-f {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 59px;
  color: black;
  text-align: center;
  margin-top: 70px;
}
.title-topics-desc {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 22.65px;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.card {
  height: 249px;
  width: 570px;
  padding: 42px 16px 41px 16px;
  border: 2px solid black;
  border-radius: 10px;
}
.cover {
  border-radius: 10px;
}
.card-body {
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: -15px;
}

.text-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #cd4631;
}
.text-title {
  font-weight: 700;
  font-size: 22.65px;
  color: #cd4631;
}
.card-text {
  font-weight: 500;
  font-size: 14px;
  color: black;
}
.card-holder {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.with-shadow {
  box-shadow: 10px 10px 0px 0px rgba(129, 173, 200);
}

.btn-shadow {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.with-margin {
  margin-top: 20px;
}

.show-topics {
  display: flex;
  justify-content: center;
}

.sсribble-sec {
  position: absolute;
  right: 0;
  margin-top: -20px;
  margin-right: 350px;
}

.card-link {
  height: 202px;
  width: 373px;
  text-align: center;
  align-items: center;

  font-family: "Montserrat Alternates", sans-serif;
}

.link-title {
  font-weight: 700;
  font-size: 22.65px;
  color: black;
}

.link-desc {
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.icon {
  height: 108px;
}

.ic-pad {
  padding-top: 30px;
}
.links-cards {
  padding-top: 100px;
  margin-bottom: 100px;
}
.second-row {
  margin-top: 80px;
}

.first-col {
  margin-left: 190px;
}

.second-col {
  margin-left: -150px;
}
.year {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #4d4d4d;
}

.nav-item {
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer-link {
  text-decoration: none;
  color: black;
}

.coloured {
  color: #cd4631;
}
.pro {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 96px;
}
.your-eng {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 96px;
  color: #cd4631;
}
.abs {
  position: absolute;
  text-align: center;
  margin-top: 200px;
}

.on-pages {
  margin-right: 80px;
}
.history-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.card-f {
  padding: 80px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.dark-shadow {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0);
}

.found {
  height: 520px;
  width: 570px;
  padding: 16px;
}

.card-body-f {
  font-family: "Montserrat Alternates", sans-serif;
}
.face {
  position: absolute;
  right: 0;
  top: 0;
}

.text-name {
  line-height: 1;
  margin-top: 250px;
  font-weight: 700;
  font-size: 36.65px;
}
.card-text-f {
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin-top: 20px;
  margin-bottom: 48px;
}

.follow-me {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #4d4d4d;
  margin-left: -95px;
}
.row-abs {
  position: absolute;
  right: 0;
}
.tt {
  margin-left: -35px;
  margin-top: -12px;
}
.inst {
  margin-left: -35px;
  margin-top: -12px;
}

.topic-info {
  text-align: center;
  margin-bottom: 60px;
}

.title-topic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 36.65px;
  width: 686px;
  margin-bottom: 24px;
}

.topic-el {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 686px;
  margin-bottom: 5px;
}

.ul-topics {
  list-style-type: none;
}
