.body {
  font-family: "Montserrat Alternates", sans-serif;
}
.header {
  background-color: #f7ede8;
  height: 100vh;
}

.container {
  background-color: #f7ede8;
  margin-top: 40px;
  margin: 0px 140px;
}

.nav-link {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  margin-right: 60px;
  font-size: 16;
}

.dropdown-item {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.logo {
  margin-right: 116px;
}
.btn {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14;
}

.sign-in-btn {
  margin-left: 20px;
}

.btn-outline-dark {
  border: 2px solid black;
}

.slogan {
  margin-top: 150px;
}
.stars {
  margin-top: 170px;
  margin-left: 200px;
}
